<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new client</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        body {
            background-color: #4F4F4F;
        }

        .navbar {
            background-color: #363636 !important;
        }
    </style>
</head>

<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-light">Welcome, doctor!</span>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="text-center text-light">Create New Client</h2>

    <form action="/clients/create" method="post" th:object="${client}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{fullName}" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="vatnumber">VatNumber:</label>
            <input type="text" id="vatnumber" name="vatnumber" th:field="*{vatNumber}" class="form-control" required/>
        </div>


        <button type="submit" class="btn btn-primary" style="float: right; margin-top: 10px;">Create client</button>
    </form>
</div>
<a class="btn btn-secondary" th:href="@{/clients/list}"style="margin-top: 10px;">Clients</a>
<a class="btn btn-secondary" th:href="@{/vets/list}" style="margin-top: 10px;">Vets</a>
<a class="btn btn-secondary" th:href="@{/reports/list}" style="margin-top: 10px;">Reports</a>
<a class="btn btn-secondary" th:href="@{/animals/list}" style="margin-top: 10px;" >Animals</a>
</body>
</html>